* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.image {
  float: left;
  height: 165px;
  padding-right: 60px;
}